@model IEnumerable<FuzzyLogic.MISORuleSet>

<table class="table">
    <thead>
        <tr>
            <th>Переменная</th>
            <th>Значение</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.ConclusionType.Name
            </td>

            <td>
                @item.ConclusionType.GetValue(item.GetResult().Defuzzify()).ToString()
            </td>
        </tr>
}
    </tbody>
</table>
