@model IEnumerable<FuzzyLogic.Portal.Model.FuzzyRule>

@{
    ViewData["Title"] = "Index";
}

<h4>База нечетких правил</h4>

<p>
    <a asp-action="Create">Новое правило</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Правила
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RuleDefinition)
                </td>
                <td>
                    @Html.ActionLink("Правка", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
